form{
  margin-bottom: 10px;
}

.form {
  background-color: var(--primary-background-color);
  border: 1px solid var(--input-border-color);
  width: 100%;
  padding-left: 12px;
  border-radius: 4px;
  box-shadow: var(--heavy-shadow);
}

.input {
  margin-left: auto;
  width: 80%;
  padding: 10px 5px;
  font-size: 0.9rem;
  vertical-align: middle;
  outline: 0;
  border: 0;
}

.activeForm {
  border: 1px solid var(--input-focus-color);
}

.title {
  font-size: 1.3rem;
  color: var(--title-text-color);

}

.labelActiveForm {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--input-border-color);
  vertical-align: middle;
  margin-right: 7px;
  transition: opacity 250ms ease;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 1.5rem;
  }

  .input {
    padding: 18px 5px;
    font-size: 1.2rem;
    font-size: 1rem;
  }

  .labelActiveForm {
    width: 20px;
    height: 20px;
  }

  .activeForm {
    border: 1px solid var(--input-focus-color);
  }
}