
.container{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
  padding-left: 15px;
  padding-right: 15px;
 }

 .form{
  background-color: var(--primary-background-color);
  border: 1px solid var(--input-border-color);
  width: 100%;
  padding-left: 12px;
  border-radius: 4px;
  transition: border-color 0.3s easy;
 }

.input {
   margin-left: 15px;
   width: 80%;
    padding: 12px 5px;
    font-size: 1.2rem;
    vertical-align: middle;
    border: 0;
    outline: 0;
}


.title{
    font-size: 2rem;
    color: var(--title-text-color);
   
}

.labelActiveForm{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid var(--input-border-color);
  vertical-align: middle;

}


@media screen and (min-width: 1200px) {
    .form {
      width: 450px;
    }
  }