.base{
   position: absolute;
  margin-left: auto;
  margin-top: auto;
 padding-left: 15px;
 padding-right: 15px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 1200px) {
   .base{
width: 480px;
top: 200px;
   }
    
}