.container {
    list-style: none;
    border: 1px solid var(--input-border-color);
    width: 100%;
    border-radius: 4px;
    padding: 10px 11px;
    font-size: 0.8rem;
    background-color: var(--primary-background-color);
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox {
    margin-right: 10px;
   opacity: 0;
}

.label {
    cursor: pointer;
}

.label::after {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: white;
    border: 1px solid var(--input-border-color);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
    }

.checkbox:checked+.label::after {
    background: linear-gradient(45deg, violet, rgb(8, 184, 242));
 
   }

.checkbox:checked+.label {
    color: var(--complited-text-color);
    text-decoration: line-through
}

.edit{
    fill: var( --background-icon-color);
width: 15px;
margin-left: auto;
cursor: pointer;
@media screen and (min-width: 768px) {
    width: 17px;
}
}

@media screen and (min-width: 768px) {
    .label::after {
        width: 20px;
        height: 20px;

    }

    .container {
        font-size: 1rem;
        padding: 18px 12px;
    }
}